#General Properties
#==================
groupId: ^project.groupId^
artifactId: ^project.artifactId^
version: ^project.version^
server.port: 8085

# Kafka properties
spring.kafka.bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
logging:
  level:
    root: INFO
    org.springframework.kafka: info
    org.springframework.web: WARN
    guru.springframework.controllers: WARN
    org.springframework.integration.mqtt: INFO
    us.dot.its.jpo.ode.mec.deposit: ${LOGGING_LEVEL:INFO}
    org.apache.kafka: WARN

# Processed Map Configuration
kafkaTopicProcessedMap: topic.ProcessedMap
kafkaTopicDeduplicatedProcessedMap: topic.DeduplicatedProcessedMap
enableProcessedMapDeduplication: ${ENABLE_PROCESSED_MAP_DEDUPLICATION:true}

# Processed Map WKT Configuration
kafkaTopicProcessedMapWKT: topic.ProcessedMapWKT
kafkaTopicDeduplicatedProcessedMapWKT: topic.DeduplicatedProcessedMapWKT
enableProcessedMapWktDeduplication: ${ENABLE_PROCESSED_MAP_WKT_DEDUPLICATION:true}

# Ode Map Json Configuration
kafkaTopicOdeMapJson: topic.OdeMapJson
kafkaTopicDeduplicatedOdeMapJson: topic.DeduplicatedOdeMapJson
enableOdeMapDeduplication: ${ENABLE_ODE_MAP_DEDUPLICATION:true}

# Ode Tim Json Configuration
kafkaTopicOdeTimJson: topic.OdeTimJson
kafkaTopicDeduplicatedOdeTimJson: topic.DeduplicatedOdeTimJson
enableOdeTimDeduplication: ${ENABLE_ODE_TIM_DEDUPLICATION:true}

# Ode Bsm Json Configuration
kafkaTopicOdeBsmJson: topic.OdeBsmJson
kafkaTopicDeduplicatedOdeBsmJson: topic.DeduplicatedOdeBsmJson
enableOdeBsmDeduplication: ${ENABLE_ODE_BSM_DEDUPLICATION:true}
odeBsmMaximumTimeDelta: 10000 # Milliseconds
odeBsmMaximumPositionDelta: 1 # Meter
odeBsmAlwaysIncludeAtSpeed: 1 # Meter / Second

# Processed Map Configuration
kafkaTopicProcessedSpat: topic.ProcessedSpat
kafkaTopicDeduplicatedProcessedSpat: topic.DeduplicatedProcessedSpat
enableProcessedSpatDeduplication: ${ENABLE_PROCESSED_SPAT_DEDUPLICATION:true}

# Processed Bsm Configuration
kafkaTopicProcessedBsm: topic.ProcessedBsm
kafkaTopicDeduplicatedProcessedBsm: topic.DeduplicatedProcessedBsm
enableProcessedBsmDeduplication: ${ENABLE_PROCESSED_BSM_DEDUPLICATION:true}
processedBsmMaximumTimeDelta: 10000 # Milliseconds
processedBsmMaximumPositionDelta: 1 # Meter
processedBsmAlwaysIncludeAtSpeed: 1 # Meter / Second

# Amount of time to wait to try and increase batching
kafka.linger_ms: 50

# Custom kafka properties
kafka.topics:
  autoCreateTopics: true # Override auto-create in test properties
  numPartitions: 1
  numReplicas: 1
  createTopics:
    - name: ${kafkaTopicProcessedMap}
      cleanupPolicy: delete
      retentionMs: 300000
    - name: ${kafkaTopicDeduplicatedProcessedMap}
      cleanupPolicy: delete
      retentionMs: 300000
    - name: ${kafkaTopicProcessedMapWKT}
      cleanupPolicy: delete
      retentionMs: 300000
    - name: ${kafkaTopicDeduplicatedProcessedMapWKT}
      cleanupPolicy: delete
      retentionMs: 300000
    - name: ${kafkaTopicOdeMapJson}
      cleanupPolicy: delete
      retentionMs: 300000
    - name: ${kafkaTopicDeduplicatedOdeMapJson}
      cleanupPolicy: delete
      retentionMs: 300000
    - name: ${kafkaTopicOdeTimJson}
      cleanupPolicy: delete
      retentionMs: 300000
    - name: ${kafkaTopicDeduplicatedOdeTimJson}
      cleanupPolicy: delete
      retentionMs: 300000
    - name: ${kafkaTopicProcessedSpat}
      cleanupPolicy: delete
      retentionMs: 300000
    - name: ${kafkaTopicDeduplicatedProcessedSpat}
      cleanupPolicy: delete
      retentionMs: 300000
    - name: ${kafkaTopicProcessedBsm}
      cleanupPolicy: delete
      retentionMs: 300000
    - name: ${kafkaTopicDeduplicatedProcessedBsm}
      cleanupPolicy: delete
      retentionMs: 300000
